:root {
	
}

* {
	margin: 0;
	padding: 0;
	font-family: Times New Roman, Lucida Console;
}

html {
	box-sizing: border-box;
	font-size: 75%;
	scroll-behavior: smooth;
}

@media (max-width: 75em) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 61.25em) {
	html {
		font-size: 53%;
	}
}

@media (max-width: 28.75em) {
	html {
		font-size: 50%;
	}
}

body {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.4;
	
}

#page-wrapper {
	position: relative;
}

h1 {
	font-weight: 400;
	font-size: 4rem;
}

h2 {
	font-weight: 200;
	font-size: 2rem;
	text-decoration: underline;
}

ul {
	list-style: none;
}

.nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.nav-list {
	display: flex;
	margin-right: 2rem;
}

.nav-list a {
	display: block;
	font-size: 2rem;
	padding: 2rem;
}


/* Welcome Section */

.welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75vh;
}
.welcome-section > p {
	font-size: 3rem;
	font-weight: 300;
}

/* Summary Section */

.summary-section {
	text-align: left;
	padding: 10rem 2rem;
}

